body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: ;
}

h1 {
    color: red;
    margin-top: 48px;
    margin-bottom: 64px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 8cm;
    height: 10cm;
    /* gap: 4px; */
    background-color: black;
}

#display {
    /* border: 3px solid black; */
    width: 296px;
    height: 150px;
    /* font-size: 16px; */
    font-weight: 600;
}

#line1 {
    font-size: 22px;
    color: rgb(94, 94, 94);
    height: 60px;
}

#line2 {
    font-size: 38px;
    height: 90px;
}

#calculator {
    border: 8px solid black;
    border-radius: 12px;
}

#display {
    direction: rtl;
}

#equal {
    background-color: rgb(212, 0, 0);
    font-weight: bolder;
    font-size: 16px;
}

.numberBtn,#decimal,#inverse {
    background-color: rgb(75, 75, 75);
    color: white;
    font-size: 16px;
}

.operator {
    background-color: rgb(25, 25, 25);
    color: white;
    /* font-weight: bolder; */
    font-size: 16px;
}

button {
    /* border-radius: 16px; */
    border: solid black 1px;
    transition: transform 0.04s;
    border-radius: 4px;
}

#clear,#delete,#percentage {
    background-color: rgb(25, 25, 25);
    color: white;
}

button:hover {
    transform: scale(1.025);
    border: solid white 1px;
}